* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*MENGATUR BAGIAN HEADER*/
.bagian-judul {
    padding: 20px;
    background-color: darkcyan;
    font-size: 20px;
    text-align: center;
    color: white;
}
nav {
    padding: 5px;
    background-color:darkgrey;
    text-align: center;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}


/*MENGATUR BAGIAN MAIN*/
main {
    padding: 20px;
    overflow: auto;
    line-height: 25px;
    margin-bottom: 15px;
}

h2 {
    padding-bottom: 20px;
    margin: 20px;
    text-align: center;
    position: relative;
}
h2::before {
    background-color: darkslategray;
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: 0;
    left: calc(50% - 25px);
}

.konten {
    float: left;
    width: 75%;
    text-align: justify;
    padding-right: 20px;
}
aside {
    float: right;
    width: 25%;
    text-align: center;
}
.foto-profil {
    width: 200px;
}
.periksa-prima, article, aside {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/*tampilan memeriksa bilangan prima*/
.periksa-prima {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
}
.display {
    background: darkgrey;
    padding: 20px;
    border: 1px solid black;
}
.button {
    flex-basis: 20%;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}
.hapus, .periksa {
    flex-basis: 50%;
}


/*MENGATUR BAGIAN FOOTER*/
footer {
    background-color: #333;
    padding: 30px;
    text-align: center;
}
footer small {
    color:white;
}


/*MENGATUR LAYAR RESPONSIVE*/
@media screen and (max-width: 800px) {
    .konten,
    aside {
      width: 100%;
      padding: 0;
    }
}
